In [3]:
# unos biblioteka.
import pandas as pd
import numpy as np

In [4]:
# definiranje okvira podataka logističkog poduzeća s uslugom dostave (Varaždin).
df = pd.DataFrame({
    'Lokacija' : ['Zagreb', 'Ludbreg', 'Zagreb', 'Koprivnica', 'Zagreb',
                  'Križevci', 'Čakovec', 'Ludbreg', 'Zagreb', 'Zagreb'],
    'Datum isporuke' : ['22-06-2022', '22-06-2022', '23-06-2022', '23-06-2022', '23-06-2022',
                        '23-06-2022', '25-06-2022', '25-06-2022', '26-06-2022', '27-06-2022'],
    'Šifra vozila' : ['VŽ-1', 'VŽ-2', 'VŽ-3', 'VŽ-2', 'VŽ-1',
                      'VŽ-2', 'VŽ-1', 'VŽ-1', 'VŽ-2', 'VŽ-3'],
    'Šifra klijenta' : ['ZG-564', 'VŽ-213', 'ZG-565', 'KC-221', 'ZG-566',
                        'KC-222', 'ČK-144', 'VŽ-214', 'ZG-567', 'ZG-568'],
    'Udaljenost (km)' : [72, 21, 85, 41, 80, 54, 2, 23, 92, 74],
    'Potrošnja goriva (l)' : [8.1, 2.1, 9.3, 4.5, np.nan, 5.8, 0.3, 2.4, 9.8, np.nan],
})

In [266]:
df

,Lokacija,Datum isporuke,Šifra vozila,Šifra klijenta,Udaljenost (km),Potrošnja goriva (l)
0,Zagreb,22-06-2022,VŽ-1,ZG-564,72,8.1
1,Ludbreg,22-06-2022,VŽ-2,VŽ-213,21,2.1
2,Zagreb,23-06-2022,VŽ-3,ZG-565,85,9.3
3,Koprivnica,23-06-2022,VŽ-2,KC-221,41,4.5
4,Zagreb,23-06-2022,VŽ-1,ZG-566,80,NaN
5,Križevci,23-06-2022,VŽ-2,KC-222,54,5.8
6,Čakovec,25-06-2022,VŽ-1,ČK-144,2,0.3
7,Ludbreg,25-06-2022,VŽ-1,VŽ-214,23,2.4
8,Zagreb,26-06-2022,VŽ-2,ZG-567,92,9.8
9,Zagreb,27-06-2022,VŽ-3,ZG-568,74,NaN

In [267]:
# izdvajanje lokacije 'Zagreb' s nedostajećim vrijednostima.
df = df[df['Lokacija'] == 'Zagreb']

In [268]:
# sortiranje vrijednosti prema pređenoj udaljenosti.
df = df.sort_values('Udaljenost (km)')

In [269]:
# prikaz sortiranih udaljenosti.
df

,Lokacija,Datum isporuke,Šifra vozila,Šifra klijenta,Udaljenost (km),Potrošnja goriva (l)
0,Zagreb,22-06-2022,VŽ-1,ZG-564,72,8.1
9,Zagreb,27-06-2022,VŽ-3,ZG-568,74,NaN
4,Zagreb,23-06-2022,VŽ-1,ZG-566,80,NaN
2,Zagreb,23-06-2022,VŽ-3,ZG-565,85,9.3
8,Zagreb,26-06-2022,VŽ-2,ZG-567,92,9.8

In [270]:
# primjena interpolacije.
df.interpolate()

,Lokacija,Datum isporuke,Šifra vozila,Šifra klijenta,Udaljenost (km),Potrošnja goriva (l)
0,Zagreb,22-06-2022,VŽ-1,ZG-564,72,8.1
9,Zagreb,27-06-2022,VŽ-3,ZG-568,74,8.5
4,Zagreb,23-06-2022,VŽ-1,ZG-566,80,8.9
2,Zagreb,23-06-2022,VŽ-3,ZG-565,85,9.3
8,Zagreb,26-06-2022,VŽ-2,ZG-567,92,9.8

In [271]:
# primjena metode slanja vrijednosti prethodnog retka.
df.fillna(method = 'ffill')

,Lokacija,Datum isporuke,Šifra vozila,Šifra klijenta,Udaljenost (km),Potrošnja goriva (l)
0,Zagreb,22-06-2022,VŽ-1,ZG-564,72,8.1
9,Zagreb,27-06-2022,VŽ-3,ZG-568,74,8.1
4,Zagreb,23-06-2022,VŽ-1,ZG-566,80,8.1
2,Zagreb,23-06-2022,VŽ-3,ZG-565,85,9.3
8,Zagreb,26-06-2022,VŽ-2,ZG-567,92,9.8

In [272]:
# primjena metode popunjavanja vrijednosti definirane u narednom retku.
df.fillna(method = 'bfill')

,Lokacija,Datum isporuke,Šifra vozila,Šifra klijenta,Udaljenost (km),Potrošnja goriva (l)
0,Zagreb,22-06-2022,VŽ-1,ZG-564,72,8.1
9,Zagreb,27-06-2022,VŽ-3,ZG-568,74,9.3
4,Zagreb,23-06-2022,VŽ-1,ZG-566,80,9.3
2,Zagreb,23-06-2022,VŽ-3,ZG-565,85,9.3
8,Zagreb,26-06-2022,VŽ-2,ZG-567,92,9.8

In [273]:
# primjena metode upisa srednje vrijednosti.
df.fillna(df.mean(numeric_only = True))

,Lokacija,Datum isporuke,Šifra vozila,Šifra klijenta,Udaljenost (km),Potrošnja goriva (l)
0,Zagreb,22-06-2022,VŽ-1,ZG-564,72,8.100000
9,Zagreb,27-06-2022,VŽ-3,ZG-568,74,9.066667
4,Zagreb,23-06-2022,VŽ-1,ZG-566,80,9.066667
2,Zagreb,23-06-2022,VŽ-3,ZG-565,85,9.300000
8,Zagreb,26-06-2022,VŽ-2,ZG-567,92,9.800000