In [1]:
import pandas as pd

In [3]:
stats = {
    'Srednja vrijednost' : 13981.88, 
    'Standardna devijacija' : 1262.15 , 
    'Maksimalna vrijednost' : 17221.65, 
    'Minimalna vrijednost' : 10318.40,
    }

stats = pd.DataFrame(stats, index = ['Statistika'])
stats = stats.transpose()

In [4]:
stats

                       Statistika
Srednja vrijednost       13981.88
Standardna devijacija     1262.15
Maksimalna vrijednost    17221.65
Minimalna vrijednost     10318.40